# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
public/**
__pycache__/
/*test*/

# Other files and folders
.settings/
Thumbs.db
ehthumbs.db
Desktop.ini

# Executables
*.swf
*.air
*.ipa
*.apk
*.lnk
*.json
*.log


# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
